.cover {
  position: fixed;
  inset: 0;
  background: #f8f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: transform 1.2s ease-in-out;
}

.app.opened .cover {
  transform: translateY(-100%);
}

/* CONTENT */
.cover-content {
  text-align: center;
  position: relative;
  z-index: 5;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 2px;
}

.title {
  font-size: 34px;
  margin: 10px 0;
}

/* FOTO */
.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.photo-wrapper img {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #c9b27c;
}

/* TEXT */
.to {
  margin-top: 15px;
}

.guest {
  font-weight: bold;
}

.place {
  font-size: 14px;
}

/* BUTTON */
.open-btn {
  margin-top: 20px;
  padding: 10px 24px;
  border: none;
  background: #9cc97c;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* ORNAMENT CSS */
:root {
  --sage: #9CAF88;
  --sage-soft: #B7C6A1;
}

/* ORNAMENT BUNGA */
.ornament {
  position: absolute;
  width: 120px;
  height: 120px;
  opacity: 0.35;
  filter:blur()
}

.ornament::before,
.ornament::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(circle at 50% 0%, var(--sage) 30%, transparent 31%),
    radial-gradient(circle at 100% 50%, var(--sage-soft) 30%, transparent 31%),
    radial-gradient(circle at 50% 100%, var(--sage) 30%, transparent 31%),
    radial-gradient(circle at 0% 50%, var(--sage-soft) 30%, transparent 31%),
    radial-gradient(circle at 50% 50%, var(--sage) 22%, transparent 23%);
}

/* POSISI */
.ornament.left {
  top: 30px;
  left: 30px;
}

.ornament.right {
  bottom: 30px;
  right: 30px;
}